.jumbotron {
  background: #003300;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #003300;
    border-color: #003300; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }


.spinner {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #003300; 
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}