<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

  <script type="text/jsx">
    var api_prefix = '<%= RBP.api_prefix %>';
    var blog_list_url = api_prefix + 'api/';

    $(document).ready(function() {
        get_url_async(blog_list_url).then(function(response){
            $('#latest_blog').removeClass('spinner');
            var blog_list = JSON.parse(response);
            var latest_blog_entry = blog_list[blog_list.length-1];
            ReactDOM.render(
              <BlogShowCase latest_blog_entry={latest_blog_entry}/>,document.getElementById('latest_blog')
              )
            }, function(err) {
              $('#latest_blog').removeClass('spinner');
              console.error('Failure', err);
            }
        );
    });

  </script>
</head>

<body>
  <% include ../partials/nav.ejs %>
  <main>
  	<div class="intro">
      <h1> William Widmer </h1>
      <h3> Software Engineer </h3>
      <h4> I'm a programmer with a computer science degree and several years of industry experience. </h4>
      <h4> I am always learning and trying new tools. My website is a constant work in progress. </h4>
      <div id="latest_blog"> </div>
      <p> This blog post is retrieved through an AJAX call to a Django application</p>
    </div>
    <div>
      <h1> California, U.S.A. </h1>
    </div>
    <div>
      <button type="button" class="btn btn-primary">
        <a href="https://drive.google.com/open?id=1OdCb9goP0kpfKGHv_MvtffLOgu25YzR8yNv-NHDfD00"> Resume / CV </a>
      </button>
      <button type="button" class="btn btn-primary">
        <a href="https://github.com/wwwidmer"> Github </a>
      </button>
    </div>
    <div>
      <ul>
        <li>
            Python
            <ul>
              <li>Django</li>
              <li>Flask</li>
            </ul>
        </li>
        <li>
            Javascript
            <ul>
              <li>jQuery</li>
              <li>React</li>
              <li>Redux</li>
            </ul>
        </li>
        <li>
            Other
            <ul>
              <li>Amazon Web Services</li>
              <li>PostgreSQL</li>
              <li>Linux / Bash </li>
              <li>Atom && Emacs </li>
              <li>Git</li>
            </ul>
        </li>
        <li> In progress
          <ul>
            <li> Go </li>
            <li> CSS Grid </li>
            <li> UX / Design </li>
            <li> Webpack </li>
          </ul>
        </li>
      </ul>
    </div>
  </main>

</body>
</html>
