<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
<div class="container">
  <h1> William Widmer's personal website! </h1>
  <p> A place to showcase my work as a software developer. </p>

  <a class="btn btn-lg btn-default" href="github.com/wwwidmer"> Github </a>
</div>

</div>
<div class="container">
</div>


</body>
</html>
