<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script type="text/jsx">
    var latest_blog_entry = {
        title: "Blog title for one page",
        entry_date: (new Date).toDateString(),
        image_url: "http://www.deftune.com/wp-content/uploads/2010/10/thexx-400x400.jpg",
        description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    }
    
    setTimeout(function(){
    ReactDOM.render(
    <BlogShowCase latest_blog_entry={latest_blog_entry}/>,
    document.getElementById('latest_blog')
    )}, 100);

  </script>
</head>

<body>
  <% include ../partials/nav.ejs %>
<div class="jumbotron text-center">
    <div class="container">
      <h1> William Widmer's personal website! </h1>
      <p> A place to showcase my work as a software developer. </p>
      <a class="btn btn-lg btn-default" href="https://github.com/wwwidmer"> Github </a>
      <a class="btn btn-lg btn-default" href="https://drive.google.com/open?id=1OdCb9goP0kpfKGHv_MvtffLOgu25YzR8yNv-NHDfD00"> Resume </a>
    </div>
</div>
<div class="container">
  <div id="latest_blog" class=""></div>
</div>
<div class="container">
  <h2> About me </h2>
  <p>Welcome! My name is WW and I built this webpage to showcase some of my technological skills. </p>
  <p>These pages were built with bootstrap, node, and react.</p>
</div>
</body>
</html>
