<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

  <script type="text/jsx">
    var api_prefix = '<%= RBP.api_prefix %>';
    var blog_list_url = api_prefix + 'api/';

    $(document).ready(function() {
        get_url_async(blog_list_url).then(function(response){
            $('#latest_blog').removeClass('spinner');
            var blog_list = JSON.parse(response);
            var latest_blog_entry = blog_list[blog_list.length-1];
            ReactDOM.render(
              <BlogShowCase latest_blog_entry={latest_blog_entry}/>,document.getElementById('latest_blog')
              )
            }, function(err) {
              $('#latest_blog').removeClass('spinner');
              console.error('Failure', err);
            }
        );
    });

  </script>
</head>

<body>
  <% include ../partials/nav.ejs %>
  <main>
  	<div class="intro">
      <h1> William Widmer </h1>
      <p> Software Engineer </p>
    </div>
    <div>
      <h1> California, U.S.A. </h1>
    </div>
  	<div class="intro">
      <ul class="list-group">
        <li class="list-group-item"> Full stack experience </li>
        <li class="list-group-item"> Python, Javascript </li>
        <li class="list-group-item"> Flask, Django, jQuery, React, Redux </li>
        <li class="list-group-item">
          Attempting to learn Go, CSS Grid, and UI/UX design.
        </li>
      </ul>
  	</div>
    <div>
      <h2>
        <button type="button" class="btn btn-secondary">
          <a href="https://drive.google.com/open?id=1OdCb9goP0kpfKGHv_MvtffLOgu25YzR8yNv-NHDfD00"> Resume / CV </a>
        </button>
      </h2>
    </div>
    <div>
      <h2>
        <button type="button" class="btn btn-secondary">
          <a href="https://github.com/wwwidmer"> Github </a>
        </button>
      </h2>
    </div>
    <div></div>
  	<div>
      Based on CSS grid example found
      <a href="https://codepen.io/stacy/pen/ALdqjr"> here </a>
    </div>
    <div class="intro">
      <p> This blog post is retrieved through an AJAX call to a Django application</p>
      <div id="latest_blog"> </div>
    </div>
  </main>

</body>
</html>
