<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script type="text/jsx">

    $(document).ready(function() {
        var blog_list_url = 'https://agile-earth-31601.herokuapp.com/api/';
        
        get_url_async(blog_list_url).then(function(response){
            $('#latest_blog').removeClass('spinner');
            var blog_list = JSON.parse(response);
            var latest_blog_entry = blog_list[blog_list.length-1];
            ReactDOM.render(
              <BlogShowCase latest_blog_entry={latest_blog_entry}/>,document.getElementById('latest_blog')
              )
            }, function(err) {
              $('#latest_blog').removeClass('spinner');
              console.error('Failure', err);
        });
    });

  </script>
</head>

<body>
  <% include ../partials/nav.ejs %>
<div class="jumbotron text-center">
    <div class="container">
      <h1> William Widmer's personal website! </h1>
      <p> A place to showcase my work as a software developer. </p>
      <a class="btn btn-lg btn-default" href="https://github.com/wwwidmer"> Github </a>
      <a class="btn btn-lg btn-default" href="https://drive.google.com/open?id=1OdCb9goP0kpfKGHv_MvtffLOgu25YzR8yNv-NHDfD00"> Resume </a>
    </div>
</div>
<div class="container">
  <div id="latest_blog" class="spinner"></div>
</div>
<div class="container">
  <h2> About me </h2>
  <p>Welcome! My name is WW and I built this webpage to showcase some of my technological skills. </p>
  <p>These pages were built with bootstrap, node, and react.</p>
</div>
</body>
</html>
