<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

  <script type="text/jsx">
    var api_prefix = '<%= RBP.api_prefix %>';
    var blog_list_url = api_prefix + 'api/';


    $(document).ready(function() {
        get_url_async(blog_list_url).then(function(response){
            $('#latest_blog').removeClass('spinner');
            var blog_list = JSON.parse(response);
            var latest_blog_entry = blog_list[blog_list.length-1];
            ReactDOM.render(
              <BlogShowCase latest_blog_entry={latest_blog_entry}/>,document.getElementById('latest_blog')
              )
            }, function(err) {
              $('#latest_blog').removeClass('spinner');
              console.error('Failure', err);
        });
    });

  </script>
</head>

<body>
  <% include ../partials/nav.ejs %>
<div class="jumbotron text-center">
    <div class="container">
      <h1> William Widmer's personal website! </h1>
      <p> A place to showcase my work as a software developer. </p>
      <a class="btn btn-lg btn-default" href="https://github.com/wwwidmer"> Github </a>
      <a class="btn btn-lg btn-default" href="https://drive.google.com/open?id=1OdCb9goP0kpfKGHv_MvtffLOgu25YzR8yNv-NHDfD00"> Resume </a>
    </div>
</div>
<div class="container">
  <h2> About me </h2>
  <p>My name is William and I built this webpage to showcase some of my technological skills. </p>
  <p> I graduated from Hunter College with a degree in Computer Science. I have been programming for several years before graduation. Past work includes working at a starup, an NYC governmental department, and consulting non-profit human rights organizations. I'm passionate in what I believe in and am trying to use my technical skills to cause positive change in the world.</p>
  <small>These pages were built with bootstrap, node, and react. A seperate backend app, which houses an API where to access blog posts can be found at <a href="https://agile-earth-31601.herokuapp.com/">agile-earth-31601.herokuapp</a>. This API uses Django and the Django rest framework.</small>
</div>
<div class="container">
  <div id="latest_blog" class="spinner"></div>
</div>
</body>
</html>
